name: Build

permissions: { }

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-modulectl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Go setup
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'
      - name: "Run 'make build'"
        run: make build
