name: Lint golangci

permissions: { }

on:
  pull_request:
    branches:
      - main
      - feat/**
  workflow_dispatch:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false
      - name: Get configuration
        uses: ./.github/actions/configuration
        id: configuration
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: v${{ steps.configuration.outputs.golangci_lint_version }}
          args: --verbose
